# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ca-certificates=2025.2.25=haa95532_0
pip
# Optional: Any other conda packages you want

# pip packages:
pip:
  - flask-cors==5.0.1
  - opencv-python==4.11.0.86
  - py-cpuinfo==9.0.0
  - python-dateutil==2.9.0.post0
  - python-dotenv==1.1.0
  - typing-extensions==4.13.2
  - ultralytics-thop==2.0.14
