:root {
  --cameraButtonSize: 80px;
  --xButtonSize: 50px;
  --smallerButtonSize: 65px;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100vw;
  /* scrollbar-gutter: stable; */
  /* scrollbar-color: #ddd rgba(0, 0, 0, 0); */
  scrollbar-track-color: rgba(0, 0, 0, 0);
}

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
}

#uiOverlay {
  width: 100%;
  height: 98%;
  position: absolute;
  z-index: 8;
  margin: 0px;
  top: 0px;
  pointer-events: none;
}

#crosshairs {
  position: absolute;
  /* Change to absolute for proper centering */
  z-index: 10;
  font-size: 5em;
  font-weight: 100;
  margin: 0;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust for element size */
}

.bottomButton {
  position: absolute;
  width: var(--cameraButtonSize);
  height: var(--cameraButtonSize);
  border-radius: 100%;
  border:none;
  background-color: #fff;
  z-index: 9;
  bottom: 10px;
  margin: auto;
  pointer-events: all;
}

.centeredButton {
  left: 0;
  right: 0;
}

.right {
  left: auto;
  right: 20px;
}

.expandAsset {
  display: none;
}

#openDex {
  right: 20px;
  bottom: 100px;
}

#openGallery {
  right: 20px;
  bottom: 180px;
}

.smaller {
  width: var(--smallerButtonSize);
  height: var(--smallerButtonSize);
}

.topLeftButton {
  position: absolute;
  width: var(--xButtonSize);
  height: var(--xButtonSize);
  background-color: #e96060;
  font-size: 2em;
  color: white;
  z-index: 9;
  border: none;
  top: 0px;
  left: 0px;
  margin: auto;
  pointer-events: all;
}

.icon{
  width:80%;
  margin:auto;
}